.head {
    /* Line */
    position: absolute;
    position: absolute;
    width: 1510px;
    height: 0;
    left: 0;
    top: 79.5px;
    border: 1px solid rgb(236, 236, 236);
}

.logo img {
    width: 256px;
    height: 35px;

}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.head1 {
    /* Студія */
    position: absolute;
    width: 109px;
    height: 16px;
    left: 453px;
    right: -453px;
    top: 12px;
    bottom: -32px;
    bottom: -32px;
    font-family: 'Roboto', sans-serif;

}

.head1 h3 {
    font-size: 18px;
    color: #000000;
    transition: all 0.45s;

}

.head1 h3:hover {
    color: #E29020;
}

.head2 {
    /* Портфоліо */
    position: absolute;
    width: 77px;
    height: 16px;
    left: 588px;
    right: -339px;
    top: 12px;
    bottom: -32px;
    font-family: 'Roboto', sans-serif;
}

.head2 h3:hover {
    color: #E29020;
}

.head2 h3 {
    font-size: 18px;
    color: #E29020;
    transition: all 0.45s;
}

.head3 {
    /* Контакти */
    position: absolute;
    width: 144px;
    height: 16px;
    left: 700px;
    right: -453px;
    top: 12px;
    bottom: -32px;
    font-family: 'Roboto', sans-serif;
}

.head3 h3:hover {
    color: #E29020;
}

.head3 h3 {
    font-size: 18px;
    color: #000000;
    transition: all 0.45s;
}

.head4 {
    /* Контакти */
    position: absolute;
    width: 84px;
    height: 16px;
    left: 860px;
    right: -453px;
    top: 12px;
    bottom: -32px;
    font-family: 'Roboto', sans-serif;
}

.head4 h3:hover {
    color: #E29020;
}

.head4 h3 {
    font-size: 18px;
    color: #000000;
    transition: all 0.45s;
}

.pra {
    position: absolute;
    top: 70px;
    left: 470px;
    font-size: 18px;
    color: #000000;
    transition: all 0.45s;
    font-family: 'Roboto', sans-serif;
}

.spi {
    position: absolute;
    width: 1000px;

    left: 250px;
    top: 230px;
    font-family: sans-serif;
    font-weight: normal;
}

.hwlogo {
    position: absolute;
    top: 94px;
    left: 407px;
    width: 50px;
    height: 50px;
}

.pra6 {
    position: absolute;
    width: 550px;
    height: 35px;
    top: 150px;
    left: 210px;
    font-size: 28px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.pra7 {
    position: absolute;
    width: 550px;
    height: 35px;
    top: 1070px;
    left: 210px;
    font-size: 28px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.spi2 {
    position: absolute;
    width: 1000px;

    left: 250px;
    top: 1165px;
    font-family: sans-serif;
    font-weight: normal;
}

.foot {
    position: absolute;
    width: 1501px;
    height: 152px;
    top: 2100px;
    border: 1px solid rgb(223, 223, 223);
}

.logodown {
    position: absolute;
    width: 256px;
    height: 35px;
    top: 2160px;
    left: 100px;
}

.disk {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2150px;
    left: 600px;
}

.teleg {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 2150px;
    left: 680px;
}

.youtube {
    position: absolute;
    width: 77px;
    height: 77px;
    top: 2140px;
    left: 760px;
}